VITE_AUTH_API_URL=https://customer-relationship-management-system-04ec.onrender.com/api/auth
VITE_CRM_API_URL=https://customer-relationship-management-system-1-o1gp.onrender.com/api
VITE_SOCKET_URL=https://customer-relationship-management-system-1-o1gp.onrender.com
