NODE_ENV=development
PORT=6000
FRONTEND_URL=https://customer-relationship-management-sy-nine.vercel.app

DATABASE_URL=mysql://<user>:<password>@<host>:3307/<database>

REDIS_HOST=localhost
REDIS_PORT=6379

AUTH_SERVER_URL=http://localhost:5000
JWKS_URL=http://localhost:5000/.well-known/jwks.json
