NODE_ENV=development
PORT=6000

MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_DATABASE=crm
MYSQL_USER=root
MYSQL_PASSWORD=crm_dev_password

REDIS_HOST=localhost
REDIS_PORT=6379

AUTH_SERVER_URL=http://localhost:5000
JWKS_URL=http://localhost:5000/.well-known/jwks.json
